# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
.flaskenv

# macOS
.DS_Store

# IDEs / Editors
.vscode/
.idea/
*.swp
